html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
body{
    margin: 0;
    background-color: #808080;
}

h1, h2, h3, h4, h5, p, span{
    margin: 0;
    color: black;
}

.container{
    background-color: #808080;
    max-width: 1920px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* hide on desktop */
.nav-container .btn-menumobile {
    display: none;
}

/* header */
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

/* navbar*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #BC8F8F;
    border-bottom: 1px solid #BC8F8F;
}

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 70px;
    height: 70px;
    margin-top: 25px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.nav-container li a:hover {
    color: #C0C0C0;
}

/* banner */
#main-banner {
    background: url('./nobre.cho/img/banner-central.png') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;
    max-height: 400px;
}

#search-form {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

#search-form h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
    font-style: oblique;
    margin-bottom: 30px;
}

#search-form input, #search-form select {
    background-color: #C0C0C0;
    border-radius: 5px;
    border-color: #BC8F8F;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 10px;
}

#search-form input[type=submit] {
    background-color: #C0C0C0;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    transition: .5s;
}

#search-form input [type=submit]:hover {
    background-color: #C0C0C0;
}

/* Página contato.html */
h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: black;
    text-align: center;
}

#form-box {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}


.form {
    width: 100%;
    max-width: 32rem;
    font-size: 15px;
}

.form label,
.form input,
.form textarea,
.form button {
    text-align: center;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.form label {
  color: black;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #C0C0C0;
  box-shadow: 0 0 0 3px #C0C0C0;
}

.form button {
  display: block;
  padding: 1rem;
  background: #BC8F8F;
  color: black;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #C0C0C0;
}

/* Rodapé */
footer {
    padding: 20px;
    background: #BC8F8F;
    color: black;
    margin-top: 20px;
}

footer p{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

/* Projeto não terminado, seguirá em alteração após o prazo*/