*{
    margin: 0;
    margin: 0;
}
header{
    background-color: pink;
    padding: 10px 0;
}
.container{
    margin: 0 auto;
    position: relative;
    width: 940px;
}
nav{

    position: absolute;
    left: 0;
    
}